<h1 class="text-uppercase fs-1 fw-semibold mb-5">projectos</h1>

<div class="section-projects row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card text-bg-light border-dark h-100">
      <%= image_tag("rails.jpeg", alt: "imagen rails") %>
      <div class="card-body text-dark d-flex flex-column h-100 justify-content-between">
        <h5 class="card-title">Desafío Ciclos</h5>
        <p class="card-text">Juego de Piedra, Papel o Tijeras</p>
        <div class="d-flex justify-content-end">
        <a href="https://github.com/rohmedina/desafios_RUBY/tree/1_desafio_flujo_ciclos_metodos" class="btn btn-card" target="_blank">ver más</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-bg-light border-dark h-100">
      <%= image_tag("rails.jpeg", alt: "imagen rails") %>
      <div class="card-body text-dark d-flex flex-column h-100 justify-content-between">
        <h5 class="card-title">Desafío Ciclos</h5>
        <p class="card-text">Múltiples ejercicios</p>
        <div class="d-flex justify-content-end">
        <a href="https://github.com/rohmedina/desafios_RUBY/tree/2_desafio_flujo_ciclos_metodos" class="btn btn-card" target="_blank">ver más</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-bg-light border-dark h-100">
      <%= image_tag("rails.jpeg", alt: "imagen rails") %>
      <div class="card-body text-dark d-flex flex-column h-100 justify-content-between">
        <h5 class="card-title">Desafío Ciclos</h5>
        <p class="card-text">Múltiples ejercicios</p>
        <div class="d-flex justify-content-end">
        <a href="https://github.com/rohmedina/desafios_RUBY/tree/3_desafio_flujo_ciclos_metodos" class="btn btn-card" target="_blank">ver más</a>
        </div>
      </div>
    </div>
  </div>
</div>